<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/750;
			document.write('<meta name="viewport" content="width=750, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">');
	};
</script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<title>现货网站系统-大板现货</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- header start -->
<header id="header">
	<a href="index.html" class="back">&lt;</a>
	<h1>大板现货</h1>
</header>

<!-- wrap start -->
<div id="wrapper" class="wrap">
	<ul class="class_list clearFix">
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">112</p>
			<a href="product_list.html">巴花现货<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">232</p>
			<a href="product_list.html">巴花大板<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">111</p>
			<a href="product_list.html">奥坎大板<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">432</p>
			<a href="product_list.html">柚木王大板<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">112</p>
			<a href="product_list.html">巴花现货<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">232</p>
			<a href="product_list.html">巴花大板<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">111</p>
			<a href="product_list.html">奥坎大板<span>查看更多》</span></a>
		</li>
		<li>
			<div class="img"><img src="image/bahuaban.jpg"></div>
			<p class="pro_number">432</p>
			<a href="product_list.html">柚木王大板<span>查看更多》</span></a>
		</li>
	</ul>
</div>
<!-- wrap end -->
<script type="text/javascript" src="js/jquery-2.1.3.min.js" ></script>
<script type="text/javascript" src="js/common.js" ></script>
</body>
</html>
